grant  {
 permission java.lang.RuntimePermission "accessClassInPackage.sun.security.x509";
 permission au.zeus.jdk.authorization.guards.LoadClassPermission;
};
