/build/
/dist/
/.idea/
/.vscode/
/nbproject/
nbproject/private/
/webrev
/.src-rev
/.jib/
.DS_Store
.metadata/
.recommenders/
test/nashorn/script/external
test/nashorn/lib
NashornProfile.txt
**/JTreport/**
**/JTwork/**
/src/utils/LogCompilation/target/
/.project/
/.settings/
/compile_commands.json
/.cache
jtreg-7.5+1.zip
jtreg/bin/jtdiff
jtreg/bin/jtreg
jtreg/COPYRIGHT
jtreg/doc/jtreg/faq.html
jtreg/doc/jtreg/tag-spec.html
jtreg/doc/jtreg/usage.txt
jtreg/legal/asmtools/LICENSE
jtreg/legal/jtharness/copyright.txt
jtreg/legal/jtharness/LICENSE
jtreg/legal/junit/LICENSE-junit.txt
jtreg/legal/testng/LICENSE.txt
jtreg/lib/asmtools.jar
jtreg/lib/guice-5.1.0.jar
jtreg/lib/javatest.jar
jtreg/lib/jcommander-1.82.jar
jtreg/lib/jtreg.jar
jtreg/lib/junit-platform-console-standalone-1.11.0.jar
jtreg/lib/testng-7.3.0.jar
jtreg/LICENSE
jtreg/README
jtreg/release
/.vs/jdk-with-authorization/FileContentIndex
/.vs/jdk-with-authorization/v17
.vs/CMakeWorkspaceSettings.json
.vs/ProjectSettings.json
.vs/slnx.sqlite
