grant {
    permission java.lang.RuntimePermission "accessClassInPackage.sun.util.locale.provider";
    //permission java.lang.RuntimePermission "exitVM";
};
