grant {
  permission java.io.FilePermission "<<ALL FILES>>", "read, write, delete";
  permission java.lang.RuntimePermission "createClassLoader";
  permission java.lang.RuntimePermission "getClassLoader";
  permission java.lang.RuntimePermission "modifyThread";
  permission java.lang.RuntimePermission "createPlatformThread";
  permission java.util.PropertyPermission "*", "read"; /* for Utils */
  permission au.zeus.jdk.authorization.guards.LoadClassPermission;
  permission java.security.SecurityPermission "createAccessControlContext";
};
